$breakpoints: (
    'xm': ('min': 0px,'max': 375px),
    'md': ('min': 375px,'max': 910px),
    'bg': ('min': 375px,'max': null)
);

@mixin responsive($breakpoint) {
    $breakpoint-min: map-get($breakpoints, $breakpoint, 'min');
    $breakpoint-max: map-get($breakpoints, $breakpoint, 'max');
    @if $breakpoint-max == null {
        @media (min-width: calc($breakpoint-min + 1px)) {
            @content;
        }
    }

    @else {
        @media (min-width: calc($breakpoint-min + 1px)) and (max-width: $breakpoint-max) {
            @content;
        }
    }
}
