@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@500&display=swap');

$breakpoints: (
    'xm': ('min': 0px,'max': 375px),
    'md': ('min': 375px,'max': 910px),
    'bg': ('min': 375px,'max': null)
);

@mixin responsive($breakpoint) {
    $breakpoint-min: map-get($breakpoints, $breakpoint, 'min');
    $breakpoint-max: map-get($breakpoints, $breakpoint, 'max');
    @if $breakpoint-max == null {
        @media (min-width: calc($breakpoint-min + 1px)) {
            @content;
        }
    }

    @else {
        @media (min-width: calc($breakpoint-min + 1px)) and (max-width: $breakpoint-max) {
            @content;
        }
    }
}

@include responsive("xm"){
    body{
        padding: 0!important;;
    }
    .desktop{
        display: none!important;
    }
}
@include responsive("md"){
    body{
        padding: 0!important;;
    }
}
@include responsive("bg"){
    .mobile{
        display: none!important;
    }
}

.hidden{
    display: none!important;
}


:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /* Index */
    --z-cart: 2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);

    min-height: 100vh;
    padding: 0 200px;
    /* overflow-x: hidden; */

}


.white {
    filter: brightness(20);
}

.btn-primary {
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
    background-color: var(--orange);
    color: var(--white);
    
    font-weight: 700;
    font-size: 1rem;
    
    border: none;
    border-radius: 10px;

    transition: all 0.2s ease;    
    &:hover {
        filter: opacity(0.4);
        box-shadow: 5px 20px 17px 0px rgba(255, 165, 0, 0.4); /* add a soft orange shadow on hover */
        transform: translateY(-2px);
    }

    &:active{
        filter: none;
        transform: translateY(2px);
    }
    &:disabled{
            cursor: not-allowed;
            box-shadow: none;
            pointer-events: none;
            background-color: var(--grayish-blue);
        }
}

.btn-secondary{
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:focus{
        border: 1px solid var(--orange);
    }
}